<%- include('partials/header') -%>
<h1>Edit</h1>
<form action="/Edits" method="post" class="clearfix">
  <div class="form-group">
    <label for="homeText">Home</label>
    <textarea id="homeText" name="homeContent" class="form-control" rows="5"><%= homeContent.contentText %></textarea>
  </div>
  <div class="form-group">
    <label for="aboutEdit">About</label>
    <textarea id="aboutEdit" name="aboutContent" class="form-control" rows="5"><%= aboutContent.contentText %></textarea>
  </div>
  <div class="form-group">
    <label for="contactEdit">Contact</label>
    <textarea id="contactEdit" name="contactContent" class="form-control" rows="5"><%= contactContent.contentText %></textarea>
  </div>
  <button type="submit" name="submit" class="btn btn-primary float-right">Refresh</button>
</form>
<% postLog.forEach(function(post) { %>
  <h3><a href="/edit_post/<%= post._id%>"><%= post.title%></a></h3>
    <% var postFinal = post.text;
    if(postFinal.length > 100) {
      postFinal = post.text.slice(0, 99) + "... " %>
      <p><%= postFinal %></p>
    <% } else { %>
      <p><%= postFinal %></p>
    <% } %>
  <p class="small text-muted">
    Posted on <%= post.updated.toDateString() %>
    </p>
<%});%>


<%- include('partials/footer') -%>
